html
    head    
        title RPI LED Controller

    body
        h1 Welecome to the RPI LED Controller
        a(href='/settings') Go To Settings
        div(id="current pins")
            p= redPin
            p= greenPin
            p= bluePin