html
    head    
        title RPI LED Controller
        style
            include ../static/css/home.css
    body
        h1 Welcome to the RPI LED Controller
        a(href='home/settings') Go To Settings
        button(id="lights-on")  Turn lights on
        button(id="lights-off")  Turn lights off
        div(id="custom-lights")
            div(id="slider-container")
                label(name="redslider-label") Red
                input(type="range" min="0", max="255", value="0" id="red-slider" class="slider") 
                label(name="greenslider-label") Green
                input(type="range" min="0", max="255", value="0" id="green-slider" class="slider")
                label(name="blueslider-label") Blue
                input(type="range" min="0", max="255", value="0" id="blue-slider" class="slider")
            button(id="lights-custom")  Set Custom Lights
            button(id="preview") set
            div(class="colour-preview" id="colour-preview")
                p some colour


    script(src='../js/homeClient.js')
