html
    head    
        title RPI LED Controller
        link(rel="icon" href="#")
    body
        h1 Settings
        a(href='/') Go Back
        div(id="current-pins")
            div(id="red")
                p= redPin
            div(id="green")
                p= greenPin
            div(id="blue")
                p= bluePin
        div(id='change-pins')
            form(action="/home/settings" method="POST")
                label(name="redPinName") GPIO red pin
                input(type="text" name="redPin")
                label(name="greenPinName") GPIO green pin
                input(type="text" name="greenPin")
                label(name="bluePinName") GPIO blue pin
                input(type="text" name="bluePin")
                input(type="submit" value="Save")

